################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ReactApp2/FileContentIndex/397de918-0d7b-45c4-a35d-4c751429d290.vsidx
/.vs/ReactApp2/FileContentIndex/45e414b4-4c78-40d3-a06f-442463799179.vsidx
/.vs/ReactApp2/FileContentIndex/7cc32486-8c87-4482-b3b2-4bbaded6ec62.vsidx
/.vs/ReactApp2/FileContentIndex/aa4f4f7a-ac89-4df5-b067-66e6d597fcf5.vsidx
/.vs/ReactApp2/FileContentIndex/b5429740-438d-4d93-9d3e-b41991e111bf.vsidx
