:root {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;


    color-scheme: light;
    color: rgba(255, 255, 255, 0.87);
    background-color: #9effc1;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
    color: black;
}




.error-message {
    position: fixed;
    top: 20px;
    right: 20px;
    padding: 15px 20px;
    background: #ff4444;
    color: white;
    border-radius: 5px;
    display: flex;
    align-items: center;
    gap: 10px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    z-index: 1000;
}

.error-close {
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    padding: 0;
    margin-left: 10px;
    font-size: 1.2em;
}

.login-popup .error-text {
    color: #ff4444;
    margin-top: 10px;
    font-size: 0.9em;
}

.main-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.component-wrapper {
    width: 100%;
    max-width: 1400px;
    min-width: 300px;
    margin: 0 auto;
}

.file-upload,
.data-display {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center; /* Horizontal centering */
    justify-content: center; /* Vertical centering */
    min-height: 300px; /* Ensure minimum height for visibility */
    padding: 2rem;
    box-sizing: border-box;
/*    border: 1px solid #ddd;  */
}






.header {
    display: flex;
    justify-content: space-between; /* Pushes children to opposite ends */
    align-items: center; /* Vertically centers the items */
    /*padding: 1rem 2rem;*/ /* Adds some padding inside the header */
    /*background-color: #f8f9fa;*/ /* Light gray background */
    width: 100%; /* Ensures the header spans the full width */
}


.login-button {
    padding: 8px 16px;
    background-color: transparent;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

    .login-button:hover {
        background-color: #4CAF50;
    }

